* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
}

.main {
    height: 785px;
    background: url("../img/fundonetflix.jpg") center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.main-child {
    z-index: 1;
    display: grid;
    justify-items: center;
}

.main h1 {
    font-size: 48px;
    max-width: 700px;
}

.main span {
    font-size: 26px;
    margin-top: 15px;
}

.form-cta {
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form-cta input {
    padding: 15px 10px;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 60px;
}

.form-cta button {
    background-color: #e50914;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.main p {
    font-size: 19px;
    margin-top: 25px;
}

.gradient {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient( to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}