* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: white;
  overflow-x: hidden;
}
.container {
  max-width: 1130px;
  margin: 0 auto;
}


img {
  display: block;
  max-width: 100%;
  
}

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  justify-content: space-between;
  max-width: 1700px;
  top: 28px;
  left: 56px;
  text-align: center;
}

.header a {
  display: inline-block;
  background: #e50914;
  position: absolute;
  color: white;
  align-self: flex-start;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 3px;
  width: 50px;
  left: 85%;
  top: 10%;
  text-align: center;
}

.main {
  padding-top: 4rem;
  height: 785px;
  background: url("../img/fundonetflix.jpg") center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  width: 105%;
  margin-bottom: 5px;
}

.main-child {
  z-index: 1;
  display: grid;
  justify-items: center;
  
}

.main h1 {
  font-size: 48px;
  max-width: 510px;
}

.main span {
  font-size: 26px;
  margin-top: 10px;
}

.form-cta {
  display: grid;
  grid-template-columns: 500px 250px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-cta input {
  padding: 15px 10px;
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 60px;
}

.form-cta button {
  background-color: #e50914;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 180px;
}
.form-cta button::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 19px;
  background: url("../img/seta.svg");
  margin-left: 15px;
}
.form-cta button:hover {
  background: #f40612; 
}

.main p {
  font-size: 19px;
  margin-top: 25px;
}

.gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section{
  background: black;
  padding: 4rem 0;
}
.grid {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
}

.img-tv {
position: relative;
}
.img-tv img {
  position: relative;
  z-index: 1;
}

.video-tv {
  position: absolute;
  width: 400px;
  top: 80px;
  left: 70px;

}